html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(17, 23, 41);
}


.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 15%;
    padding-top: 5rem;
}

nav {
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav h1 {
    font-size: 3em;
}

nav li a{
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(150, 160, 180);
}


